################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp2.2
/Imagens
/obj
/.vs/TCC_API
